<div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">新增學生</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                   學生資料
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <%= form_for @student, url: students_path do |f| %>
                  <fieldset>
                    <div class="form-group">
                      <%= f.label :name, "學生姓名" %>
                      <%= f.text_field :name, class: "form-control"  %>
                    </div>             

                    <div class="form-group">
                      <%= f.label :afts_id, "系統學號" %>
                      <%= f.text_field :afts_id, class: "form-control"  %>
                    </div>  

                    <div class="form-group">
                      <%= f.label :card_id, "學生卡號" %>
                      <%= f.text_field :card_id, class: "form-control"  %>
                    </div>  


                    <div class="form-group">
                      <%= f.label :school, "就讀學校" %>
                      <%= f.text_field :school, class: "form-control"  %>
                    </div>  
                    

                    <div class="form-group">
                      <%= f.label :grade, "學生年級" %>
                      <%= f.text_field :grade, class: "form-control"  %>
                    </div>           

                    <div class="form-group">
                      <%= f.label :courses, "就讀班級" %>
                    
                      <%= f.collection_check_boxes(:course_ids, Course.all, :id, :name) do |b| %>
                        <div class="checkbox">
                          <%= b.label do%>
                           <%=b.check_box + b.text%>
                          <%end%>
                        </div>  
                      <% end %>                       
                      </div>                                      
                    </div>     

                  </fieldset> 
                  <%= link_to "儲存", "", class: "btn btn-lg btn-success btn-block", onclick: "$('form').submit()" %>
                <% end %>
                <div class="text-center"> 
                  <%= render 'layouts/messages' %>
                </div>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>

      <!-- /.col-lg-12 -->
    </div>

</div>



