<div id="page-wrapper" style="min-height: 708px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <%= @students.count %>
                            </div>
                            <div>就讀中學生</div>
                        </div>
                    </div>
                </div>
                <%= link_to students_path do %>
                    <div class="panel-footer">
                        <span class="pull-left">詳細內容</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                    <% end %>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <%= @students.others.count %>
                            </div>
                            <div>潛在學生</div>
                        </div>
                    </div>
                </div>
                <%= link_to others_students_path do %>
                    <div class="panel-footer">
                        <span class="pull-left">詳細內容</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                    <% end %>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-calendar fa-fw"></i> 課表
                    <div class="pull-right">
<!--                         <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <%= month_calendar events: @events do |date, events| %>
                        <div class="panel panel-default" style="background-color: initial; position: relative; min-height: 100%;">
                            <div class="panel-heading" style="text-align: center;">
                                <%= date %>
                            </div>
                            <div class="panel-body" style="margin-bottom: 20px;">
                                <% events.each do |event| %>
                                    <%= link_to new_courses_event_path(@course), remote: true, class:"btn btn-block btn-social btn-vk start-end-time" do %>
                                        </i>
                                        <%= event.name%>
                                            <br/>
                                            <%= event.start_time.strftime("%R")%> -
                                                <%= event.end_time.strftime("%R") %>
                                                    <% end %>
                                                        <% end %>
                            </div>
                        </div>
                        <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> 所有班級
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="/courses/new">
                                    <i class="fa fa-plus fa-fw"></i> 新增班級
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <% @courses.each do |c| %>
                            <a href="/courses/<%= c.id %>" class="list-group-item">
                                    <i class="fa fa-bookmark fa-fw"></i> <%= c.name %>
                                </a>
                            <% end %>
                    </div>
                    <!-- /.list-group -->
                    <!-- <a href="#" class="btn btn-default btn-block">View All Alerts</a> -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /.panel -->
            <!-- /.panel .chat-panel -->
        </div>
    </div>
    <!-- /.row -->

    <!-- /.row -->
</div>