<div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">編輯班級</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                 編輯班級
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
               <%= form_for @course, url: course_path(@course), method: :patch do |f| %>
                <fieldset>
                  <div class="form-group">
                    <%= f.label :name, "班級名稱" %>
                    <%= f.text_field :name, class: "form-control"  %>

              
                  </div>   

         <!--          <input type="hidden" name="events[]event[name]"> -->
<!--                   <input type="hidden" name="events[]event[start_time]">
                  <input type="hidden" name="events[]event[end_time]"> -->

                  <div class="form-group" id="courses_new"> 
                    <label >上課時間</label>
                    <%= month_calendar events: @events do |date, events| %>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <%= date %>
                        </div>
                        <div class="panel-body">
                            <% events.each do |event| %>
                              <div class="list-group-item" style="background-color: pink;">
                                <%= event.name %>
                              </div>                              
                            <% end %>                             
                        </div>
                        <div class="panel-footer">
                            <a href="#"><i class="fa fa-plus-circle fa-fw" style="width: 100%; text-align: right;"></i></a>
                        </div>                      
                      </div>  
                    <% end %>
                  
                  </div>   
                </fieldset>  

                <% end %>
                <%= link_to "儲存", "", class: "btn btn-lg btn-success btn-block", onclick: "$('form').submit()" %>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-7 -->
      <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                 學生清單
            </div>          
            <div class="panel-body">
              <div class="form-group input-group">
                  <input type="text" class="form-control" placeholder="學生姓名">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                      </button>
                  </span>
              </div>
            </div>
        </div>       
      </div>       
    </div>





