<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">新增班級</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    新增班級
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">基本資料</a>
                                        </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" style="">
                                <div class="panel-body">
                                    <%= form_for @course, url: courses_path do |f| %>
                                        <fieldset>
                                            <div class="form-group">
                                                <%= f.label :name, "班級名稱" %>
                                                    <%= f.text_field :name, class: "form-control"  %>
                                            </div>
                                        </fieldset>
                                        <% end %>
                                            <%= link_to "下一步", "", class: "btn btn-lg btn-success btn-block", onclick: "$('#a_collapseTwo').click();return false" %>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a id="a_collapseTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">課表</a>
                                        </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <%= month_calendar events: @events do |date, events| %>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <%= date %>
                                            </div>
                                            <div class="panel-body">
                                                <% events.each do |event| %>
                                                    <%= link_to new_courses_event_path(@course), remote: true, class:"btn btn-block btn-social btn-vk start-end-time" do %>
                                                        </i>
                                                        <%= event.start_time.strftime("%R")%> -
                                                            <%= event.end_time.strftime("%R") %>
                                                                <% end %>
                                                                    <% end %>
                                            </div>
                                            <div class="panel-footer">
                                                <%= link_to new_courses_event_path(@course), remote: true do %>
                                                    <i class="fa fa-plus-circle fa-fw" style="width: 100%; text-align: right;"></i>
                                                    <% end %>
                                            </div>
                                        </div>
                                        <% end %>
                                            <%= link_to "下一步", "", class: "btn btn-lg btn-success btn-block", onclick: "$('#a_collapseThree').click();return false" %>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a id="a_collapseThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">就讀學生</a>
                                        </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" placeholder="學生姓名">
                                        <span class="input-group-btn">
                                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                          </button>
                                        </span>
                                    </div>
                                    <%= link_to "完成送出", "", class: "btn btn-lg btn-success btn-block", onclick: "$('form').submit();return false" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-7 -->
    </div>
</div>